NEXT_PUBLIC_SITE_URL=https://www.e2bizz.com
NEXT_PUBLIC_SUPABASE_URL=https://ovaflbebrqnysakmoyca.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im92YWZsYmVicnFueXNha21veWNhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzODk2NDMsImV4cCI6MjA5MTk2NTY0M30.VTh756ggDSadLpi5-pr3RbR3qmgSSvMzkRTFwKUSdpI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im92YWZsYmVicnFueXNha21veWNhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjM4OTY0MywiZXhwIjoyMDkxOTY1NjQzfQ.ajT01hYw_-9m8Sjt7sv3sbgw4_gr3Mnk3nRXxRf_tJE
SUPABASE_BUCKET=listings
NODE_ENV=development
APP_NAME=E2BIZZ
APP_ENV=local
LOG_LEVEL=info
ENABLE_REQUEST_LOGGING=true
APP_VERSION=local
GIT_SHA=local
